* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;  
    align-items: center;
    background: rgb(139,78,240);
    background: linear-gradient(90deg, rgba(139,78,240,1) 0%, rgba(49,167,247,1) 100%);
    padding: 1rem;
    color: rgb(255, 255, 255);
}

#miCv {
    padding: 0;
    letter-spacing: 0.1rem;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

header nav a {
    padding: 0.3rem;
    color: rgb(255, 255, 255);
}

a:link, :visited, :hover, :active {
    text-decoration: none;
}

#descargar {
    background-color: rgb(237, 53, 173);
    border-style: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
}

#presentacion {
    padding: 6rem 0 6rem 0;
    border-bottom: 1px solid rgb(201, 201, 201);
}

#presentacion p, #contratame {
    margin: 2rem 0 0 0;
    text-align: center;
}

#contratame {
    border: 1px solid rgb(17,152,255);
    background-color: transparent;
    color: rgb(17,152,255);
    border-radius: 2rem;
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
}

#contratame:hover {
    background-color: rgb(17,152,255);
    color: white;
}

section {
    width: 50%;
    margin: 0 auto 0;
}

h2 {
    padding: 3rem;
}

.gris {
    color: rgb(94, 94, 94);
}

.boton {
    margin-top: 1em;
    align-self: flex-start;
    background-color: rgb(17,152,255);
    border-radius: 0.8em;
    font-size: 0.7em;
    border-style: none;
    cursor: default;
    color: white;
}

#presentacion, #trabajos, #educacion, #habilidades, #hobbies  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section img {
    width: 10rem;
    border-radius: 50%;
    margin: 3rem 0 1rem 0;
}

.externos {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(201, 201, 201);
    padding: 1rem 0 1rem 0;
}

.primerExterno {
    border-top: 1px solid rgb(201, 201, 201);
}

.internos {
    display: flex;
    justify-content: space-between;
}

section .externos p {
    padding: 0.7rem 0 0.7rem 0;
}

#skills, #contacto {
    margin: 1rem;
    padding: 1rem;
    box-shadow: 1px 1px 13px 1px rgba(163,163,163,0.75);
}

#skills {
    min-width: 228px;
}

#divHabilidades{
    padding-top: 1.2rem;
}

#hobbies p {
    margin-bottom: 4rem;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(201, 201, 201);
}

footer i {
    font-size: 1.3rem;
    margin: 1.5rem 0.5rem 1.5rem 0.5rem;
    padding: 0.5rem;
    color:white;
    background-color: rgb(196, 196, 196);
    border-radius: 50%;
}

.fa-linkedin-in {
    padding: 0.5rem 0.6rem 0.5rem 0.6rem;
}
.fa-tumblr {
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}